.main{
  max-width: 1000px;
  width: 80%;
  padding:0 10px 20px 10px;
  margin: 20px auto 0;
}
.height {
  height: 50px;
}

/* カレンダー上に表示するcircle */
.circle {
  height: 15px;
  width: 15px;
  margin: 5px auto;
  border-radius: 50%;
  background-color: gray;
}
/* ここからはeventlist, todolist用のcss */
.board {
  max-width: 1000px;
  width: 80%;
  margin: 20px auto 0;
  height: 350px;
  display: flex;
  flex-direction: row;
}
.inline {
  display: inline-block;
  width: 50%;
  text-align: left;
}

/* responsive design  */
@media screen and ( max-width: 767px ){
  .main {
    width: 95%;
  }

  .board{
    width: 95%;
    display: block;
    height: auto;
  }
  .inline {
    display: block;
    text-align: center;
    width: 90%;
    margin: 10px auto;
  }
}
