.draft {
  height: 140px;
  z-index: 3;
  position: absolute;
  top: 20vh;
  right: 50vw;
}
.form {
  position: relative;
  text-align: left;
}
.switch {
  background-color: red;
  border: solid 1px wheat;
  border-radius: 10px;
  color: white;
  position: absolute;
  top: 10px;
  right: 50px;
  opacity: 0.6;
}
.switch:focus{
  outline: none;
}
.switch:hover {
  opacity: 1.0;
  text-decoration: underline;
}
.button {
  background-color: #f3f3f3;
  border: none;
  position: absolute;
  top: 10px;
  right: 20px;
  /* animation: slideInTop 1.0s;
  z-index: ; */
}
.button:focus{
  outline: none;
}
.button:hover {
  border-radius: 5px;
  background-color: #a9a9a9;
}
.form {
  display: block;
  background-color: #f3f3f3;
  padding: 0 30px 10px 20px;
  width: 270px;
  border-radius: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0px;
}
.form_title {
  font-size: 18px;
  margin-top: 10px;
}
.form_label {
  display: block;
  margin: 5px 0
}
.form_submit {
  margin-top: 10px;
  margin-bottom: 5px;
  display       : inline-block;
  border-radius : 5%;          /* 角丸       */
  font-size     : 12pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 6px;   /* 余白       */
  background    : #000066;     /* 背景色     */
  color         : #ffffff;     /* 文字色     */
  line-height   : 12px;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  box-shadow    : 4px 4px 2px #666666;  /* 影の設定 */
  border        : 2px solid #000066;    /* 枠の　*/
}
.form_submit:hover{
  box-shadow    : none;        /* カーソル時の影消去 */
  color         : #000066;     /* 背景色     */
  background    : #ffffff;     /* 文字色     */
}
.form_input {
  padding: 5px;
  height: 30px;
  width: 100%;
}
.textarea {
  height: 100px;
}
